.video-portada-container{
}

  
  .history-video {
    width: 500%;
    max-width: 600%;
    height: 780px;
    border-radius: 10px;
    background-color:transparent rgb(2, 21, 10) ;

  }
 
 

  
  
  


 
  